
<div class="row">

  <div class="large-12 columns test-box test-move" style="background-color:white;">
    <center><h2 class="channel-title">#<%= @channel.channel_name%></h2><b><h2 class="roboto-stuff"> - Recent Messages</h2>
    </center></b><br>
    <% if !current_user.nil? %>

      <ul>
      <% @messages.each do |message| %>
      <% x = message.slack_message %>
      <% x = x.tr('<>', '') %>
      <% y = auto_link(x, html: { target: '_blank' }) %>

      <li><b><%="#{message.slack_username}"%></b>
        <%= "(#{message.ts.strftime('%m/%d/%Y %I:%M%p')}): "%><%= y %> <b>||
         <%= link_to "Save", pins_path(message), method: "post" %></b>

      </li>
      <% end %><br>
      <b><center><b><h4><%= link_to "Return to Slack Channels", channels_path %></b></h4></center><br>
    </ul>
    <% end %>
  </div>

</div>
</body>
