
<div class="row">

  <div class="large-12 columns" style="background-color:white;">
    <b><center><h2 class="roboto-stuff">#<%= @channel.channel_name%>: Recent Messages</h2>
    </center></b>
    <% if !current_user.nil? %>
      <ul>
      <% @messages.each do |message| %>

        <li><b><%= "#{message.slack_username}"%></b> <%=
        "(#{DateTime.strptime(message.ts, '%s')}):
         #{message.slack_message}"%>
        <!-- <%= link_to "Save", pins_path(message), method: :post %> -->
        <%= link_to "Save", pins_path(data: { text: message.slack_message,
          user: message.slack_username, ts: message.ts }), method: :post %>
       </li>
      <% end %>
      <b><center><center><b><h5><%= link_to "Return to Slack Channels", channels_path %></h5><br>
    </ul>
    <% end %>
  </div>

</div>
</body>
