<div class="row">

  <div class="large-12 columns test-move test-box" style="background-color:white;">
    <b><center><h2 class="roboto-stuff channel-title">Pinned Messages</h2><br>

      <h5><%= link_to "Return to Slack Channels", channels_path %></h5></center><br><br>
    </center></b>
    <% if !current_user.nil? %>
      <% @pins.each do |pin| %>

        <% x = pin.slack_message %>

        <% x = h truncate(x.tr('<>', ''), length: 200) %>
        <% y = auto_link(x, html: { target: '_blank' }) %>

        <div class="span_4 column">
          <center>
            <div class="small-title"><b><%= pin.title %></div></b>
            <div class="small-text"><b><%= "#{pin.slack_username}"%></b> <%=
          "(#{pin.ts.strftime('%m/%d/%Y %I:%M%p')}):"%>
           <%= y %><br><br></div>
            <div class="small-note"><b><u>My Notes:</u></b><br><%= h truncate(pin.note, length: 150) %><br></div>
            <p class="small-link"><%= link_to 'View', { controller: "pins", action: :show, id: pin.id } %> |
            <%= link_to 'Edit', { controller: "pins", action: :edit, id: pin.id }  %> |
            <%= link_to 'Delete', { controller: "pins", action: :destroy, id: pin.id }, data: { confirm: "Are you sure?" }, method: :delete %></p>
          </center>
        </div>
      <% end %>
    </ul><br><br><br>
      <b><center><center><b><br>

    <% end %>
  </div>

</div>
</body>
