<nav class="bar-no-margin" data-topbar role="navigation">

    <p class="name">
      <%= link_to image_tag("slacktracklogo.png") %>
    </p>
  <ul class="title-area">
    <li class="toggle-topbar">
      <% if user_signed_in? %>
        <% if !(current_user.name == nil) %>
          <li> Hi <b><%= current_user.name %></b>!</li>
        <% else %>
          <li> Hello! </li>
        <% end %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', '/users/auth/slack' %></li>

      <% end %>
    </li>
    <li><b><%= link_to 'Channels', channels_path %> ||
      <%= link_to 'Pinned Messages', pins_path %></li></b>
  </ul>
</nav>
